.AddUser {
    max-width: 420px;
}

.AddUser input {
    border: 0px;

    padding: 10px;

    font-size: 1.2em;
}

.AddUser button {
    background-color: #0066ff;
    color: white;
    border: 0;

    margin: 0 15px;
    padding: 10px;
    font-size: 1.2em;

    transition: all 0.3s;
}

.AddUser button:hover {
    background-color: #003399;
}