body {
  background-color: #66ccff;
}

h1 {
  color: darkblue;
}

.App {
  margin-left: 30px;
  margin-top: 30px;
}

.WarningMsg {
  color: red;

  font-size: 1.2em;
}

.WarningMsg.hidden {
  visibility: hidden;
}

.WarningMsg.visible {
  visibility: visible;
}