.App-header {
  background-color: black;
}

.App-header h1 {
  color: white;
}

.popup {
  background-color: white;
  position: fixed;
  bottom: 0;
  left: 45%;
}

.visible {
  display: block;
}

.hidden {
  display: none;  
}