.Post {
    margin: 10px;
}

.Post p {
    font-weight: 600;
}

.Post q {
    font-style: italic;
}

.Post .Row {
    display: flex;
    align-items: center;
}

.Post .Row p,
.Post .Row img,
.Post .Row .Icon {
    margin: 15px;
}

.Post .Row img {
    width: 80px;
}

.Icon {
    cursor: pointer;
    transition: all 0.3s;
}

.Icon:hover {
    color: orange;
}