.Signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Signup-form input {
    margin: 10px;
}

.Signup-form .hidden {
    display: none;
}

.Signup-form .visible {
    display: block;
}

.Signup-form .error {
    color: red;
}

.Signup-form .info {
    color: green;
}